*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header-section-container{
    background-color: #1f2937;
    color:#f9f4f8
}

.nav-section-container{
    max-width: 800px;
    margin:  0 auto;
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.nav-section-container ul{
    display: flex;
    gap: 15px;
    margin-top:15px

}
.nav-section-container li{
    list-style: none;
    font-size: 18px;
}
.nav-section-container div{
    font-size: 24px;
    margin-top:15px
}

.description-section-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    max-width: 800px;
    height: 350px;
    margin:  0 auto;
}

.description-header{
    max-width: 380px;
   
}
.description-image{
    width: 380px;
    height: 250px;

    border-color: grey;

}

.img-class{
  width: 380px;
  height: 100%;
 
    
}
.description-title{
    font-size: 30px;

}
.title-writeup{
    font-size: 18px;
    margin-top: 15px;
}

button{
    margin-top: 20px;
}


.btn-firstSignUp{
    padding: 8px;
    background-color: #3882f6;
    color: #f9f4f8;
    border-radius: 10px;
    border: none;
    width: 120px;
    font-size: 18px;
}

.mainSection-header{
    text-align: center;
    margin-top: 25px;
    max-width: 800px;
    
    margin:  0 auto;
    margin-top: 15px;
}


.housingEach-Component{
    width: 150px;
    height: 60px;

}

.flex-allBoxes{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 190px

}

.each-boxDiv{
    border: 2px solid #3882f6;

    width: 130px;
    height: 120px;
    border-radius: 6px;

}

.secondary-description{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    width: 130px;

    text-align: center;
}


.reviewSection-Container{
    background-color: #e5e7eb;
    height: 300px;
}

.reviewTitle-container p{
    width: 700px;
    margin: 0px;
    font-size: 24px;
    /* height: 200px; */

}

.reviewTitle-container{
    display: flex;
    justify-content: center;
    align-items: center;
     max-width: 800px;
     height: 250px;
    
    
    margin:  0 auto;
    margin-top: 15px;
    
}

.nameOfCustumer{
    max-width: 600px;
    margin:  0 auto;
    display: flex;
    justify-content: end;
    font-weight: 600;
    font-size: 24px;
}

.footerSection-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 800px;
    height: 150px;
    margin: 0 auto;
    background-color: #3882f3;
    margin-top: 40px;
    margin-bottom: 60px;
    color: #f9f4f8;
}
/* 
.footerSignup-btn{
width: 120px;
height: 30px;
} */
.footerSignup-btn button{
    background-color: #3882f3;
    border: 2px solid #f9f4f8;
    width: 100%;
    height: 30px;
    color:#f9f4f8;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;



   

}